rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read, delete: if true;
      allow create, update: if !eventId.matches('.*batch-test.*') && request.resource.data.title != 'Batch Event';
    }

    match /persons/{personId} {
      allow read, delete: if true;
      allow create, update: if !personId.matches('.*batch-test.*') && request.resource.data.name != 'Batch Person';
    }

    match /settings/{docId} {
      allow read, write: if true;
    }
  }
}
